# ============================
# Configuração do envio de e-mails
# ============================

# E-mail utilizado pelo microsserviço para envio das mensagens (remetente)
EMAIL_USERNAME=email@gmail.com

# Senha de aplicativo do provedor de e-mail (não utilizar a senha comum da conta)
EMAIL_PASSWORD=sua_senha_de_app

# E-mail que receberá notificações automáticas do sistema (destinatário do RabbitMQ)
EMAIL_NOTIFICACAO_DESTINO=admin@seudominio.com


# ============================
# Usuário administrador inicial
# ============================

# Credenciais utilizadas para criação do administrador padrão da aplicação
ADMIN_NAME = FirstAdmin
ADMIN_EMAIL=admin@biblioteca.com
ADMIN_PASSWORD=admin123

# CPF do administrador inicial
ADMIN_CPF=00000000000