microkernel/app/target/executable-1.0-SNAPSHOT.jar
microkernel/app/target/classes/br/edu/ifba/inf008/App.class
microkernel/app/target/classes/br/edu/ifba/inf008/screens/MainScreen.class
microkernel/app/target/classes/br/edu/ifba/inf008/screens/WelcomeScreen.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/AuthenticationController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/Core.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/DatabaseController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/IOController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/PluginController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/PluginController$1.class
microkernel/interfaces/target/interfaces-1.0-SNAPSHOT.jar
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/ICore.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/IDatabaseController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/Core.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/DatabaseController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/ICore.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/IDatabaseController.class
microkernel/plugins/myplugin/target/classes/br/edu/ifba/inf008/plugins/MyPlugin.class
microkernel/plugins/myplugin/target/classes/br/edu/ifba/inf008/plugins/MyPlugin$1.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/DatabaseController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/plugins/mainscreenplugin/target/classes/br/edu/ifba/inf008/plugins/MainScreenPlugin.class
microkernel/plugins/mainscreenplugin/target/classes/br/edu/ifba/inf008/plugins/MainScreenPlugin$1.class
microkernel/app/target/executable-1.0-SNAPSHOT.jar
microkernel/interfaces/target/interfaces-1.0-SNAPSHOT.jar
microkernel/plugins/MainScreenPlugin.jar
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/Core.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/ICore.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/IUIController.class
microkernel/plugins/myplugin/target/classes/br/edu/ifba/inf008/plugins/MyPlugin.class
microkernel/plugins/myplugin/target/classes/br/edu/ifba/inf008/plugins/MyPlugin$1.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/app/target/executable-1.0-SNAPSHOT.jar
microkernel/app/target/classes/br/edu/ifba/inf008/shell/Core.class
microkernel/app/target/classes/br/edu/ifba/inf008/shell/UIController.class
microkernel/interfaces/src/main/java/br/edu/ifba/inf008/interfaces/IUIController.java
microkernel/interfaces/target/interfaces-1.0-SNAPSHOT.jar
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/ICore.class
microkernel/interfaces/target/classes/br/edu/ifba/inf008/interfaces/IUIController.class
microkernel/plugins/MainScreenPlugin.jar
